.btn {
  border: none;
  padding: 0.25rem 1.25rem;
}

.link {
  text-decoration: none;
  color: navy;
}
/* Напиши свій код під цим рядком */

.button .btn active {
  color: red;
}

a .link active {
  font-weight: 700;
}
