:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --main-background-color: #FFFFFF;
    --section-background-color: #F5F4FA;
    --accent-blue: #2196F3;
    --hero-background-color:#2F303A;
    --main-margin: 215px;
    --margin-between-items: 30px;
    --border-bottom: 1px solid #ECECEC;
    }

/* secondary text color 212121 */
/* primary text color 757575 */
/* main background white FFFFFF */
/* section background F5F4FA */
/* accent blue 2196F3 */
/* header + footer background 2F303A */
/* h1 FFFFFF */

p, h1, h2, h3, h4, h5, h6 {
margin: 0px;
}

ul,
ol {
margin: 0px;
padding: 0px;
}

button {
  cursor: pointer;
}
 img {
display: block;
  }

 body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-background-color);
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
 }

 /*----------Universal classes-------*/
 section {
  padding-top: 94px;
  padding-bottom: 94px;
 }
.container {
  width: 1200px;
  margin: 0px auto;
  padding: 0 15px;
}

 /* ---- Universal -----*/
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden  {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}